
/*  ==============  ESTILO DOS CONTEUDOS RELACIONADOS AO ESPAÇO FÍSICO =========================   */
#conteudoespaco #cont{
    margin-top: 30px;
    
}
#conteudoespaco table { 
    /*display: block;
   margin: 15px auto;
   border: 0px solid black;*/
}

#conteudoespaco table tbody tr{
	
	
}

#conteudoespaco #pastilha{
	width: 250px;
	text-align: center;
	color: white;
	border-radius: 7px;
	box-shadow: 4px 4px 5px #888888;
	border: 1px solid #989898 ;
	background-color: #3399FF;
	height: 100px;
        float: left;
        margin-left: 30px;
        margin-bottom: 10px;
	
	

}

#conteudoespaco #pastilha,#pastilhadeadd:hover{
	background-color: #99CCFF;
	

}

#conteudoespaco #pastilha a b,#pastilhadeadd a b{
	font-size: 20px;
        
}

#conteudoespaco #pastilha a span,#pastilhadeadd a span{
	font-size: 17px;
	
}


#conteudoespaco #pastilha a,#pastilhadeadd a{
	color: black;
	text-decoration: none;
	display: block;
        height: 100px;
        width: 250px;

}
#conteudoespaco #pastilhadeadd h1{
    
    
}
#conteudoespaco #pastilhadeadd{
	width: 250px;
	text-align: center;
	color: white;
	border-radius: 7px;
	box-shadow: 4px 4px 5px #888888;
	border: 1px solid #989898 ;
	background-color: greenyellow;
	height: 100px;
        float: left;
        margin-left: 30px;
        margin-bottom: 10px;
	
	

}

/*  ==============  ESTILO DOS CONTEUDOS RELACIONADOS A AGENDA =========================   */




#conteudoagenda #agendaview{
     margin-left: 35px;
     margin-top: 30px;
     
    
}


/*  ==============  ESTILO DOS CONTEUDOS RELACIONADOS A MINHAS RESERVAS ===============   */

#conteudoMinhasReservas {}

#conteudoMinhasReservas form#formMinhasReservas {
    padding-left: 50px;
}

/* Formatação dos cabeçalhos da Lista de Reservas */

#conteudoMinhasReservas #nomeEspaco{
    float: left;
    position: relative;
    top: 10px;
    left: 44px;
}

#conteudoMinhasReservas #dataEvento {
    float: left;
    position: relative;
    top: 10px;
    left: 102px;
}

#conteudoMinhasReservas #inicioEvento {
    float: left;
    position: relative;
    top: 10px;
    left: 195px;
}

#conteudoMinhasReservas #fimEvento {
    float: left;
    position: relative;
    top: 10px;
    left: 320px;
}
/* FIM da formatação dos cabeçalhos da Lista de Reservas*/

#conteudoMinhasReservas input#campoEspaco {
    color: #000;
    padding-left: 10px;
    border: 1px solid;
    border-color: #989898;
    border-right-style: none;
    width: 150px;
}

#conteudoMinhasReservas input#campoData {
    color: #000;
    margin-left: -4px;
    padding-left: 10px;
    border: 1px solid;
    border-color: #989898;
    border-right-style: none;
    width: 150px;
}

#conteudoMinhasReservas input#campoHoraInicio {
    color: #000;
    margin-left: -4px;
    padding-left: 10px;
    border: 1px solid;
    border-color: #989898;
    border-right-style: none;
    width: 150px;
}

#conteudoMinhasReservas input#campoHoraFim {
    color: #000;
    margin-left: -4px;
    padding-left: 10px;
    border: 1px solid;
    border-color: #989898;
    width: 150px;
}


/*  ==============  ESTILO DOS CONTEUDOS RELACIONADOS AO FORMULARIO DE CADASTRO DE RESERVAS =========================   */
#conteudoForm{
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(38,158,198);
	color:rgba(0,0,0,1);
	/*margin-left: 30px;*/
}
#conteudoForm h1{
	/*font-size:36px;*/
	font-style:inherit;
	margin-top:auto ;
}
#conteudoForm form h2{
	font-size:20px;
	font-style:inherit;
}
#conteudoForm form h2 textarea#motivo{ 
	width: 400px; 
	height: 100px; 
	resize:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
#conteudoForm form  textarea#descricao{ 
	width: 400px; 
	height: 100px; 
	resize:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
#conteudoForm form h2 input#nome{
	width: 500px; 
	resize:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
#conteudoForm form h2 input#datepicker{
	width: 110px; 
	resize:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}

#conteudoForm  h2 select#espaco{
	width: 300px; 
	resize:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}

#conteudoForm  h2 input#espaco{
	width: 300px; 
	resize:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
#conteudoForm  h2 input#hrinicio{
	width: 60px; 
	resize:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
#conteudoForm  h2 input#hrtermino{
	width: 60px; 
	resize:none;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}